.sidebar-buttons li {
  width: 100%;
}

.sidebar-buttons button {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #DCDCDD;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 22px;
}

.sidebar-buttons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FE9920;
  transform: translateX(-100%);
  transition: transform 0.45s ease;
  z-index: 1;
}

.sidebar-buttons button > span {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.sidebar-buttons button:hover::before {
  transform: translateX(0);
}

.sidebar-buttons button:hover > span {
  color: #444444;
}
